.form {
    margin-left: 28px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.input {
    width: 250px;
    height: 24px;
    padding: 8px 12px;

    border: 1px solid black;
    border-radius: 8px;
    font-family: inherit;
    font-size: 20px;
    transition: border 100ms linear;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        border: 1px solid #f97200;
    }

}

.button {
    padding: 7px 8px;
    font-family: inherit;
    border: 1px solid black;
    background-color: inherit;
    border-radius: 8px;
    transition: transform 200ms linear,color 200ms linear,
    background-color 200ms linear,border 200ms linear;


    &:hover,
    &:focus {
        cursor: pointer;
        transform: scale(1.2);
        border: 1px solid #f97200;
        color: white;
        background-color: #f97200;
    }
}

.icon {
    width: 16px;
    height: 16px;
}