.list {
    margin: 40px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.link {
    display: flex;
    flex-basis: calc((100% - 20px) / 5);
    max-width: 240px;
    text-decoration: none;
    color: inherit;
}

.item {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    transition: transform 250ms ease-in-out, border-color 250ms ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.03);
        border-color: #f97200;
    }
}

.image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 360px;
    object-fit: cover;
}

.title {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    transition: color 250ms linear;

    .item:hover &,
    .item:focus & {
        color: #f97200;
    }
}