.header {
    width: 100%;
    padding: 24px 28px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}


.link {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    &:not(:last-child) {
        margin-right: 20px;
    }

    &:hover,
    &:focus {
        border-bottom: 1px solid #f97200;
    }
}